name: Build Container Image

on:
  workflow_call:
    inputs:
      containerfile:
        required: false
        description: Path to the container file
        default: Dockerfile
        type: string
      imagename:
        required: false
        description: Name of the container image
        type: string
      release_branch:
        required: false
        description: Name of the release branch
        default: main
        type: string
      enable_cosign:
        required: false
        description: Sign images using cosign
        default: true
        type: boolean
      enable_trivy:
        required: false
        description: Scan image for vulnerabilities using trivy
        default: true
        type: boolean
      push_ghcr:
        required: false
        description: Push image to ghcr
        default: true
        type: boolean
      push_dockerhub:
        required: false
        description: Push image to dockerhub
        default: false
        type: boolean
      push_quay:
        required: false
        description: Push image to quay
        default: false
        type: boolean

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
    
      - name: Set up docker
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Set up cosign
        uses: sigstore/cosign-installer@d7543c93d881b35a8faa02e8e3605f69b7a1ce62 # v3.10.0
        if: ${{ inputs.enable_cosign }}

      - name: Determine version
        id: version
        uses: paulhatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3 # v5.4.0
        with:
          tag_prefix: v
          major_pattern: '/^(feat|fix|docs|style|refactor|perf|test|chore)(\([a-z ]+\))?!: (.|\n)*$/'
          minor_pattern: '/^(feat)(\([a-z ]+\))?: (.|\n)*$/'
          bump_each_commit: true
          bump_each_commit_patch_pattern: '/^(fix|refactor|perf)(\([a-z ]+\))?: (.|\n)*$/'
          version_format: ${major}.${minor}.${patch}

      - name: Extract base image tag
        id: base
        run: |
          base=$(awk '/^FROM/ { image = $2 } END { print image }' ${{ inputs.containerfile }})
          base_tag_version=$(echo $base | sed 's/^[^:]*:\([^@]*\).*/\1/')
          base_tag_major=$(echo $base_tag_version | awk -F'.' ' { print $1 }')
          base_tag=$(echo $base_tag_version | awk -F'[0-9]' '{ print $1 }')
          echo "base_tag_version=$base_tag_version" >> $GITHUB_OUTPUT
          echo "base_tag_major=$base_tag_major" >> $GITHUB_OUTPUT
          echo "base_tag=$base_tag" >> $GITHUB_OUTPUT

      - name: Generate container metadata
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5
        with:
          images: |
            name=ghcr.io/${{ inputs.imagename || github.repository }},enable=${{ inputs.push_ghcr }}
            name=${{ inputs.imagename || github.repository }},enable=${{ inputs.push_dockerhub }}
            name=quay.io/${{ inputs.imagename || github.repository }},enable=${{ inputs.push_quay }}
          tags: |
            type=semver,pattern={{major}},enable=${{ !startsWith(steps.version.outputs.version, '0') }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}}.{{patch}},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}-${{ steps.base.outputs.base_tag_version }},enable=${{ !startsWith(steps.version.outputs.version, '0') }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}}-${{ steps.base.outputs.base_tag_version }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}}.{{patch}}-${{ steps.base.outputs.base_tag_version }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}-${{ steps.base.outputs.base_tag_major }},enable=${{ !startsWith(steps.version.outputs.version, '0') }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}}-${{ steps.base.outputs.base_tag_major }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}}.{{patch}}-${{ steps.base.outputs.base_tag_major }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}-${{ steps.base.outputs.base_tag }},enable=${{ !startsWith(steps.version.outputs.version, '0') }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}}-${{ steps.base.outputs.base_tag }},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}}.{{patch}}-${{ steps.base.outputs.base_tag }},value=${{ steps.version.outputs.version }}
          flavor: latest=auto

      - name: Login to ghcr
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ inputs.push_ghcr }}

      - name: Login to docker hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: ${{ inputs.push_dockerhub }}
  
      - name: Login to quay
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
        if: ${{ inputs.push_quay }}

      - name: Tag and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: true
          context: .
          file: ${{ inputs.containerfile }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Scan for vulnerabilities
        uses: aquasecurity/trivy-action@f9424c10c36e288d5fa79bd3dfd1aeb2d6eae808 # 0.33.0
        with:
          ignore-unfixed: true
          image-ref: ${{ inputs.imagename || github.repository }}:latest
          format: sarif
          output: trivy-results.sarif
        if: ${{ inputs.enable_trivy }}
  
      - name: Generate sbom dependency graph
        uses: aquasecurity/trivy-action@f9424c10c36e288d5fa79bd3dfd1aeb2d6eae808 # 0.33.0
        with:
          ignore-unfixed: true
          image-ref: ${{ inputs.imagename || github.repository }}:latest
          format: github
          output: dependency-results.sbom.json
          github-pat: ${{ secrets.GITHUB_TOKEN }} 
        if: ${{ inputs.enable_trivy }}

      - name: Upload scan to security tab
        uses: github/codeql-action/upload-sarif@3599b3baa15b485a2e49ef411a7a4bb2452e7f93 # v3
        with:
          sarif_file: trivy-results.sarif
        if: ${{ inputs.enable_trivy }}

      - name: Sign container image
        run: |
          cosign sign --recursive --yes --key env://COSIGN_PRIVATE_KEY ghcr.io/${{ inputs.imagename || github.repository }}:latest
          cosign sign --recursive --yes --key env://COSIGN_PRIVATE_KEY quay.io/${{ inputs.imagename || github.repository }}:latest
          cosign sign --recursive --yes --key env://COSIGN_PRIVATE_KEY ${{ inputs.imagename || github.repository }}:latest
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        if: ${{ inputs.enable_cosign }}

      - name: Update readme on docker hub
        uses: peter-evans/dockerhub-description@432a30c9e07499fd01da9f8a49f0faf9e0ca5b77 # v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ inputs.imagename || github.repository }}

      - name: Create release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 # v2
        with:
          name: v${{ steps.version.outputs.version }}
          tag_name: v${{ steps.version.outputs.version }}
          prerelease: false
          generate_release_notes: true
